
.custom-bg-navbar-color {
    background-color: rgba(17, 103, 105, 0.3);
}

.custom-bg-seletedHouseCard-color {
    background-color: rgba(17, 103, 105, 0.1);
}
.react-datepicker-wrapper,
.react-datepicker__input-container {
    width: 100%; 
}


